:root {
    --range-line-color: #b8c6cf;
    --range-fill-color: #7a5cfa;
}

.range {
    &-container {
        width: 100%;
    }

    &-wrapper {
        position: relative;
        width: 100%;
        height: 10px;
    }

    &-line,
    &-line--fill {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    &-line {
        background: var(--range-line-color);
    }

    &-line--fill {
        width: 50%;
        background: var(--range-fill-color);
    }

    &-thumb {
        position: absolute;
        top: 50%;
        right: -30px;
        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        border-radius: 50%;
        background: var(--range-fill-color);
        cursor: pointer;
        gap: 10px;
        transform: translateY(-50%);
    }

    &-thumb.active {
        cursor: grabbing;
    }

    &-title {
        margin-bottom: 70px;
    }
}

.testLine {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100px;
    background: black;
    pointer-events: none;
}

.testValues {
    position: absolute;
    top: -30px;
    display: flex;
    height: 30px;
    justify-content: center;
    border: 1px solid black;
    pointer-events: none;
}

.testCursorValue {
    position: absolute;
    top: -60px;
    height: 30px;
    border: 1px solid black;
}

.range-number-line {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.range-number__item {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    border-right: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;

    &:first-child {
        justify-content: start;
    }

    &:last-child {
        display: flex;
        justify-content: end;
    }
}

.range-number__item.test {
    border: 1px solid black;
}

.rectangle {
    width: 10px;
    height: 20px;
    pointer-events: none;

    &:first-child {
        transform: rotate(180deg);
    }
}
