@import url('variables.scss');
@import url('font.scss');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}
