$selectWidth: 368px;
$selectPadding: 16px 18px;
$fonSizeSelectText: 24px;
$transitionDropDown: 0.1s;

@mixin select-item-active-effect {
    background: var(--select-item-hover-background-color);
    color: var(--select-item-hover-text-color);
}

.select {
    position: relative;
    display: flex;
    max-width: $selectWidth;
    align-items: center;
    justify-content: space-between;
    padding: $selectPadding;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    cursor: pointer;

    & > * {
        user-select: none;
    }

    span {
        color: var(--input-signature-color);
        font-size: $fonSizeSelectText;
    }

    &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        span {
            color: black;
        }
    }

    &:focus-within {
        border: 2px solid var(--select-focus-color);
        outline: none;
    }
}

.selectTitle {
    font-size: 32px;
}

.arrow.open {
    transform: rotate(180deg);
    transition: 0.1s;
}

.signature {
    margin-top: 10px;
    color: var(--input-signature-color);
    font-size: 12px;
    font-weight: normal;
}

.select-dropdown {
    position: absolute;
    left: 0;
    width: $selectWidth;
    border-bottom: none;
    opacity: 0;
    pointer-events: none;
    transition: $transitionDropDown;

    &.open {
        display: block;
        opacity: 1;
        pointer-events: all;
    }
}

.select-dropdown__item {
    display: block;
    width: 100%;
    padding: $selectPadding;
    border: 1px solid var(--input-border-color);
    border-top: none;
    background: white;
    color: var(--select-item-text-color);
    cursor: pointer;
    font-size: $fonSizeSelectText;
    outline: none;

    &:focus,
    &:hover,
    &.active {
        @include select-item-active-effect;
    }

    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &:disabled {
        opacity: 0.3;
    }
}
