@import url('variables.scss');

@mixin select-item-active-effect {
    background: var(--select-item-hover-background-color);
    color: var(--select-item-hover-text-color);
}

.select {
    & > * {
        user-select: none;
    }

    &-wrapper {
        position: relative;
    }

    &-title {
        margin-bottom: 40px;
    }

    display: flex;
    max-width: var(--select-width);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: var(--select-padding);
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    background: white;
    cursor: pointer;

    span {
        color: var(--input-signature-color);
        font-size: var(--font-size-select-text);
    }

    &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        span {
            color: black;
        }
    }

    &:focus-within {
        border: 2px solid var(--select-focus-color);
        outline: none;
    }

    &-dropdown {
        position: absolute;
        z-index: 1000;
        left: 0;
        width: fit-content;
        width: var(--select-width);
        border-bottom: none;
        opacity: 0;
        pointer-events: none;
        transition: var(--transition-drop-down);

        &.open {
            display: block;
            opacity: 1;
            pointer-events: all;
        }
    }
}

.arrow.open {
    transform: rotate(180deg);
    transition: 0.1s;
}

.signature {
    margin-top: 10px;
    color: var(--input-signature-color);
    font-size: 12px;
    font-weight: normal;
}
