:root {
    --select-focus-color: #7a5cfa;
    --select-item-text-color: #86969c;
    --select-item-hover-background-color: var(--select-focus-color);
    --select-item-hover-text-color: white;
    --select-width: 368px;
    --select-padding: 16px 18px;
    --font-size-select-text: 24px;
    --transition-drop-down: 0.1s;
}
